<div id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-header></app-header>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4"><span style="color: rgb(0, 0, 0);">Solicitar Coleta</span></h3>
                    <div class="card shadow"></div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Mais Rápido</span>
                    <h4>Levar em um ponto de coleta</h4>
                    <div class="d-flex" style="padding-bottom: 0px;margin-bottom: -51px;">
                        <a href="collectPoints">
                            <div style="margin-bottom: 28px;">
                                <p class="text-primary mb-0" style="margin-bottom: 43px;padding-bottom: 0px;">Ver locais
                                    de coleta</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Mais Demorado</span>
                    <h4>Marcar ponto de encontro</h4>
                    <div class="d-flex">
                        <div>
                            <p class="text-primary mb-0">Ver horários disponíveis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © UVV 2024</span></div>
            </div>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
    <script src="assets/js/theme.js"></script>
</div>