<!doctype html>
<html>
<body>
    <div style='background-color:#F5F5F5;color:#262626;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'>
        <table align="center"
               width="100%"
               style="margin:0 auto;max-width:600px;background-color:#FFFFFF"
               role="presentation"
               cellspacing="0"
               cellpadding="0"
               border="0">
            <tbody>
                <tr style="width:100%">
                    <td>
                        <h2 style="color:#FFFFFF;background-color:#059669;font-weight:bold;margin:0;font-size:24px;padding:16px 24px 16px 24px">
                            Esqueceu sua senha?
                        </h2>
                        <div style="font-weight:normal;padding:16px 24px 16px 24px">
                            <p>Olá, {{ username }}!</p>
                            <p>
                                Recebemos uma solicitação para redefinir a senha da sua conta
                                no SustentApp. Para continuar com o processo, por favor,
                                utilize o código abaixo:
                            </p>
                            <h3>
                                <strong>Código de Redefinição:</strong> {{ resetCode }}
                            </h3>
                            <p>
                                Se preferir, também pode
                                <a href="{{ link }}" target="_blank">clicar aqui</a> para
                                redefinir sua senha.
                            </p>
                            <p>Caso precise de ajuda, entre em contato conosco.</p>
                        </div>
                        <div style="padding:16px 0px 0px 0px">
                            <hr style="width:100%;border:none;border-top:1px solid #CCCCCC;margin:0" />
                        </div>
                        <div style="color:#16A34A;font-weight:normal;padding:16px 24px 0px 24px">
                            SustentApp - sustentabilidade na palma da mão
                        </div>
                        <div style="font-size:12px;font-weight:normal;padding:0px 24px 16px 24px">
                            Se você não solicitou a redefinição de senha, por favor, ignore
                            este e-mail. Sua conta permanecerá segura.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>