<div class="bg-gradient-primary" style="height: 100vh;">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex"><div class="flex-grow-1 bg-register-image" style="background-image: url('assets/img/dogs/image3.jpeg');"></div></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Cadastre-se</h4>
                            </div>
                            <app-register-form></app-register-form>
                            <div class="text-center"><a class="small" href="/forgot-password">Esqueceu sua senha?</a></div>
                            <div class="text-center"><a class="small" href="/login">Já tem uma conta? Faça login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</div>