
<div id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-header></app-header>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Pontos de coleta</h3>
                    <div class="card shadow"></div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="assets/img/fachada-do-shopping-vitoria.jpg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Enseada do Suá</p>
                        <h4 class="card-title">Shopping Vitória</h4>
                        <p class="card-text">Av. Américo Buaiz, 200 - Enseada do Suá, Vitória - ES, 29050-902</p>
                        <div class="d-flex">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="assets/img/images.jpeg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Bela Vista</p>
                        <h4 class="card-title">Unimed Vitória</h4>
                        <p class="card-text">Av. Nossa Sra. da Penha, 2796 - Bela Vista, Vitória - ES, 29045-402</p>
                        <div class="d-flex">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="assets/img/ufes-sisu-1.jpg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Goiabeiras</p>
                        <h4 class="card-title">UFES</h4>
                        <p class="card-text">Av. Fernando Ferrari, 514 - Goiabeiras, Vitória - ES, 29075-910</p>
                        <div class="d-flex">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © UVV 2024</span></div>
            </div>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
    <script src="assets/js/theme.js"></script>
</div>