<form>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="username">
                    <strong>Nome</strong>
                </label>
                <input class="form-control" type="text" id="username" placeholder="user.name" name="username" formControlName="name"> 
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="email">
                    <strong>Email</strong>
                </label>
                <input class="form-control" type="email" id="email" placeholder="user@example.com" name="email" formControlName="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="first_name">
                    <strong>Endereço</strong>
                </label>
                <input class="form-control" type="text" id="first_name" placeholder="Maria" name="first_name" formControlName="adress">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="last_name">
                    <strong>CPF</strong>
                </label>
                <input class="form-control" type="text" id="last_name" placeholder="000.000.000-00" name="last_name" formControlName="document">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="first_name">
                    <strong>Celular</strong>
                </label>
                <input class="form-control" type="text" id="first_name" placeholder="Maria" name="first_name" formControlName="adress">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label" for="last_name">
                    <strong>Senha</strong>
                </label>
                <input class="form-control" type="text" id="last_name" placeholder="000.000.000-00" name="last_name" formControlName="document">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
    </div>
</form>