
<div class="bg-gradient-primary" style="height: 100vh;">
    <div class="container" style="--bs-primary: #7df173;--bs-primary-rgb: 125,241,115;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"><div class="flex-grow-1 bg-login-image" style="background-image: url('https://assets.ype.ind.br/uploads/reciclagem_de_plastico_ypedia-scaled.jpg');"></div></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="text-dark mb-4">SustentApp</h1>
                                        <h1 class="text-dark mb-4">&nbsp;<img src="assets/img/simbolo-de-reciclagem-em-natureza-verde-isolado-em-fundo-branco_125540-3681.jpg.avif" style="width: 232px;margin-top: -19px;margin-bottom: -11px;margin-left: -11px;"> &nbsp;</h1>
                                        <h1 class="text-dark mb-4"></h1>
                                    </div>
                                    <app-login-form></app-login-form>
                                    <div class="text-center"><a class="small" href="/forgot-password">Esqueceu sua senha?</a></div>
                                    <div class="text-center"><a class="small" href="/register">Criar uma nova conta</a></div>
                                    <h1 class="text-dark mb-4">&nbsp; &nbsp;</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</div>
